.container {
    background-color: #9cadce;
    background-size: cover;
    height: 100vh;
}
p {
    margin: 0;
}
a {
    margin: 0;
}
ul {
    margin: 0;
}
nav {
  border-radius: 100;
  background-color: #d1cfe2;
}

nav ul {
    list-style-type: none;
    margin-left: 30;
    padding: 0;
    display: flex;
    justify-content: left;
    overflow: hidden;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
}

.menu-toggle {
    display: none;
}

.menu-toggle span {
    background-color: #d1cfe2;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    width: 25px;
}
  
@media screen and (max-width: 600px) {
        .menu-toggle {
          display: block;
          cursor: pointer;
        }
      
        nav ul {
          display: none;
          flex-direction: column;
          width: 100%;
          text-align: center;
        }
      
        nav ul.show {
          display: flex;
        }
      
        nav li {
          float: none;
        }
      
        nav li a {
          padding: 10px;
        }
      }
    .container {
        background-color: #9cadce;
        background-size: cover;
        height: 100vh;
        position: sticky;
    }