.container {
    background-color: #9cadce;
    background-size: cover;
    height: 100vh;
}
p {
    margin: 0;
}
a {
    margin: 0;
}

.navigation {
  width: 100%;
  height: 50px;
  background-color: #d1cfe2;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 20 0px;
  padding: 0 25px;
}

.navigation ul li {
  list-style-type: none;
  padding-right: 10px;
  display: inline-block;
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 400;
  font-style: normal;
}

.hamburger {
  width: 2rem;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.hamburger {
  display: none;
}

li {
    padding-right: 10px;
    list-style-type: none;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
}
  
@media screen and (max-width: 767px) {

  .hamburger {
    display: block;
    position: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  }
}